*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background: linear-gradient(to right, #e0c3fc, #8ec5fc);;
}
.main-container{
  height: 80vh;
  align-items: center;
  align-content: center;
  text-align: center;
}
.counter{
  display: flex;
  gap: 20px;
  margin:30px;
  align-items: center;
  justify-content: center;
}
button{

  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}